<footer>
  <p>© 2024 AuroraCast. Created by Kaso Hodaj</p>
  <nav>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-and-conditions">Terms and Conditions</a>
  </nav>
</footer>

<style>
  /* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
  font-size: 0.9rem;
}

footer nav {
  margin-top: 10px;
}

footer nav a {
  color: #007b9e;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

footer nav a:hover {
  text-decoration: underline;
}

</style>